## .NET & Visual Studio Ignored Files
[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

# macOS & Windows
.DS_Store
Thumbs.db

# Android & iOS build artifacts
*.apk
*.aab
*.ipa
*.app
